<ng-container>
    <ActionBar title="Tvorba sestav">
        <ActionItem [nsRouterLink]="['/']" text="Zpět"></ActionItem>
    </ActionBar>
    <GridLayout columns="*" rows="auto, *, auto">
        <ListView [items]="workingLists$ | async" row="1" col="0">
            <ng-template let-item="item">
                <GridLayout [class]="{'primary':item.found}" columns="*, auto" rows="auto">
                    <Label [text]="item.name" horizontalAlignment="stretch" row="0" col="0"
                           [nsRouterLink]="[item.id]"></Label>
                    <Button (tap)="showDeleteConfirm(item)" row="0" col="1">Smazat</Button>
                </GridLayout>
            </ng-template>
        </ListView>
        <Button class="scan" text="Přidat novou sestavu" (tap)="showCreateNewDialog()" row="2" col="0"></Button>
        <!--    <Button [isEnabled]="!!selectedLocation" (tap)="setNfcIdForLocation(selectedLocation, tagId)" class="primary" text="Přiřadit" flexGrow="1"></Button>-->
    </GridLayout>
</ng-container>




