<ng-container *ngIf="workingList$ | async as workingList">
<ActionBar [title]="workingList.name">
    <ActionItem [nsRouterLink]="['../']" text="Zpět"></ActionItem>
</ActionBar>
<GridLayout columns="*" rows="auto, *, auto">
    <StackLayout row="0" col="0">
        <BarcodeScanner
                class="scanner-round"
                formats="QR_CODE, EAN_13"
                beepOnScan="true"
                reportDuplicates="true"
                preferFrontCamera="false"
        >
        </BarcodeScanner>
    </StackLayout>
    <ListView [items]="workingList.items" row="1" col="0">
        <ng-template let-item="item">
            <GridLayout columns="*, auto" rows="auto">
                <Label [text]="item.name"></Label>
                <Button (tap)="showDeleteConfirm(workingList, item)" row="0" col="1">Smazat</Button>
            </GridLayout>
        </ng-template>
    </ListView>
    <Button class="scan" text="Scanovat" (tap)="barcodeScan(workingList)" row="2" col="0"></Button>
    <!--    <Button [isEnabled]="!!selectedLocation" (tap)="setNfcIdForLocation(selectedLocation, tagId)" class="primary" text="Přiřadit" flexGrow="1"></Button>-->
</GridLayout>

</ng-container>
