<ActionBar title="Odesílání dat">
    <ActionItem [nsRouterLink]="['/']" text="Zpět"></ActionItem>
</ActionBar>
<FlexboxLayout flexDirection="column">
    <Button text="Odeslání všech dat" class="danger" flexGrow="1" (tap)="sendAllData()"></Button>
    <Button text="Odeslání sestav" class="basic" flexGrow="1"></Button>
    <Button [text]="'Odeslání místností ('+(locationToRegister$ | async)+')'" [isEnabled]="(locationToRegister$ | async) > 0" class="basic" flexGrow="1" (tap)="sendLocationRegistration()"></Button>
    <Button text="Odeslání umístění majetku" class="basic" flexGrow="1" (tap)="sendItemsLocation()"></Button>
</FlexboxLayout>

