<ActionBar title="Skenování majetku">
    <ActionItem [nsRouterLink]="['/']" text="Zpět"></ActionItem>
</ActionBar>
<GridLayout columns="*" rows="auto, *, auto">
    <StackLayout row="0" col="0">
    <label *ngIf="!selectedLocation" text="Prosím přiložte zařízení k NFC štítku místnosti" style="font-size: 20; text-align: center"></label>
    <label *ngIf="selectedLocation" text="Scanujete místnost {{selectedLocation.name}}" style="font-size: 20; text-align: center"></label>
    </StackLayout>
    <ListView [items]="assets$ | async" *ngIf="selectedLocation" row="1" col="0">
        <ng-template let-item="item">
            <StackLayout [class]="{'primary':item.found}">
                <Label [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <Button class="scan" text="Scanovat" [isEnabled]="!!selectedLocation" (tap)="barcodeScan()" row="2" col="0"></Button>
</GridLayout>

