<ActionBar title="Skenování majetku">
    <ActionItem [nsRouterLink]="['/']" text="Zpět"></ActionItem>
</ActionBar>
<StackLayout>
    <label *ngIf="!selectedLocation" text="Prosím přiložte zařízení k NFC štítku místnosti" style="font-size: 20; text-align: center"></label>
    <label *ngIf="selectedLocation" text="Scanujete místnost {{selectedLocation.name}}" style="font-size: 20; text-align: center"></label>
    <BarcodeScanner
            class="scanner-round"
            formats="QR_CODE, EAN_13"
            beepOnScan="true"
            reportDuplicates="true"
            preferFrontCamera="false"
    >
    </BarcodeScanner>
    <Button class="scan" text="Scanovat" [isEnabled]="!!selectedLocation" (tap)="barcodeTest()"></Button>
    <ListView [items]="assets$ | async" *ngIf="selectedLocation">
        <ng-template let-item="item">
            <StackLayout [class]="{'primary':item.found}">
                <Label [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
<!--    <Button [isEnabled]="!!selectedLocation" (tap)="setNfcIdForLocation(selectedLocation, tagId)" class="primary" text="Přiřadit" flexGrow="1"></Button>-->
</StackLayout>

