@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

$primaryColorDark: #C2185B;
$primaryColor: #E91E63;
$primaryColorLight: #F8BBD0;
$textColor: #FFFFFF;
$accentColor: #607D8B;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;
$successColor: #245b24;
$dangerColor: #691111;

Button {
  padding: 10 20 ;
  background-color: $primaryColor;
  color: $textColor;
  min-height: 80;
  &.scan {
    height: 150;
    font-size: 30;
  }
  &.success {
    background-color: $successColor;
  }
  &.danger {
    background-color: $dangerColor;
  }
  &.basic {
    background-color: $accentColor;
    color: $textColor;
  }
}

StackLayout.primary {
  background-color: $primaryColor;
  color: $textColor;
}


.roundedBulb {
  height: 30;
  width: 30;
  display: block;
  border-radius: 20;
  background-color: red;
  &.founded {
    background-color: green;
  }
}
